@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

@theme {
    --color-primary: #1c1c22;
    --color-secondary: #F39C12;
    --color-accent: #26ABFF;     
    --color-tabs: #4A4A4E;
    --color-cards: #222128;

    --font-*: initial;
    --font-sans: "Cairo", sans-serif;
    
}